﻿@model OhmCalculator.Models.OhmValueCalculator

<div class="jumbotron">
  <h3>Ohm Value Calculator </h3>
  <h4> Resistor Value: <span class="ohm-calculation">0</span> Ohms</h4>
  <h5> Tolerance: <span class="ohm-tolerance"></span>%</h5>
  <br/> 
  <div class="row">
    <select name="bandAColor" class="band-select"> 
      <option value="none"> Not Selected </option>
      @foreach (var band in @Model.ResistorBands.Where(band => band.Digit != null))
      {
        <option class="resistor-button" value=@band.Color>@band.Color</option>
      }
    </select>
    <select name="bandBColor" class="band-select">
      <option  value="none"> Not Selected </option>
      @foreach (var band in @Model.ResistorBands.Where(band => band.Digit != null))
      {
        <option onChange="buttonClick" class="resistor-button" value=@band.Color>@band.Color</option>
      }
    </select>
    <select name="bandCColor" class="band-select">
      <option value="none"> Not Selected </option>
      @foreach (var band in @Model.ResistorBands)
      {
        <option onChange="buttonClick()" class="resistor-button" value=@band.Color>@band.Color</option>
      }
    </select>
    <select name="bandDColor" class="band-select">
      <option value="none"> Not Selected </option>
      @foreach (var band in @Model.ResistorBands.Where(band => band.Tolerance > 0))
      {
        <option onChange="buttonClick()" class="resistor-button" value=@band.Color>@band.Color</option>
      }
    </select>
  </div>
</div>

@section scripts {
  <script language="javascript" type="text/javascript">

    $(".band-select").change(function(e) {
      $(this).attr('class', 'band-select ' + e.target.value);
      bandSelect(e);
    });

    function bandSelect(e) {
      var bandAColor = $("[name='bandAColor']").val();
      var bandBColor = $("[name='bandBColor']").val();
      var bandCColor = $("[name='bandCColor']").val();
      var bandDColor = $("[name='bandDColor']").val();

      if (bandAColor == "none" || bandCColor == "none" || bandCColor == "none") {
        $(".ohm-calculation").text(0); 
        return;
      } else {
        $.post("@Url.Action("CalculateResult", "Home")",
          {
            bandAColor: bandAColor,
            bandBColor: bandBColor,
            bandCColor: bandCColor,
            bandDColor: bandDColor
          },
          function(resp) {
            $(".ohm-calculation").text(resp.data.ohmValue);
            $(".ohm-tolerance").text(resp.data.tolerance * 100);
          }
        );
      }
    }

  </script>
}