.black {
    background: black;
    color: white;
}

.brown {
    background: saddlebrown;
    color: white;
}

.red  {
    background: red;
    color: white;
}

.orange {
    background: orange;
    color: white;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
    color: white;
}

.blue {
    background: blue;
    color: white;
}

.violet {
    background: violet;
}


.gray {
    background: grey;
    color: white;
}

.silver {
    background: silver;
    color: black;
}

.gold {
    background: gold;
}

.pink {
    background: pink;
}